@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav auth-nav-actions">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-page="/App/Account/Index"><i class="bi bi-person-circle"></i><span>Hi, @User.Identity?.Name</span></a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index")" method="post">
            <button type="submit" class="btn nav-cta nav-cta-secondary"><i class="bi bi-box-arrow-right"></i> Sign out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <button type="button" class="btn nav-cta nav-cta-primary" data-auth-open="register"><i class="bi bi-lightning-charge-fill"></i> Get started</button>
    </li>
    <li class="nav-item">
        <button type="button" class="btn nav-cta nav-cta-secondary" data-auth-open="login"><i class="bi bi-box-arrow-in-right"></i> Sign in</button>
    </li>
}
</ul>
